@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do");
body{
    background-color: rgb(234, 248, 248);
    padding: 0px;
    margin:0px;
}
h1{
    font-family: 'Nothing You Could Do';
}
.main{
  max-width: 800px;
  margin:auto
}
.center{
    display: block;
    margin: 0 auto;
}
table{
  margin: auto;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
  }
  .links-con{
    width: 60px;
    display: flex;
    justify-content: space-around;
  }
  .links{
    color: rgb(0, 0, 0);
    font-family: 'Nothing You Could Do';
    font-size: 25px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .header-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin:0px;
    background-color: rgb(205, 248, 248);
  }
  footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin:0px;
    background-color: rgb(205, 248, 248);
    display: block;

  }
  nav{
    width: 100%;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .card{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainItems{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}
