@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do");
body{
    background-color: rgb(205, 248, 242);
}
h1{
    font-family: 'Nothing You Could Do';
}
.center{
    display: block;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
  }
  .links-con{
    width: 60px;
    display: flex;
    justify-content: space-around;
  }
  .links{
    color: rgb(0, 0, 0);
    font-family: 'Nothing You Could Do';
    font-size: 25px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .header-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  nav{
    width: 100%;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }